
tmp/
sstate-cache/
downloads/
cache/
build/tmp/
build/sstate-cache/
build/downloads/
build/cache/
buildhistory/


local.conf
bblayers.conf


*.log
*.lock
*.swp
*.pyc
*.pyo

.vscode/
.idea/

*.tar
*.tar.gz
*.zip
*.bak

